.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.menuList {
  background: transparent;
}

.menuList ion-item {
  --background: transparent;
  --color: #888;
  --border-radius: 8px;
  margin-bottom: 8px;
}

.menuList ion-item.activeItem {
  --background: #5252d4;
  --color: #ffffff;
  font-weight: bold;
}

.profileHeader {
  font-size: 14px;
  color: #aaa;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 16px;
}

.logoutSection ion-item {
  --background: transparent;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}